@model FinancialControl.Models.Entries

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink(@FinancialControl.App_GlobalResources.st.BackToList, "Index")
</p>
