<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BeyondTechnology</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mask")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dateFormat")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: darkblue;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Financial Control", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.Policy, "Index", "Terms")</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">@FinancialControl.App_GlobalResources.st.Main <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.Category, "Index", "Categories")</li>
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.Account, "Index", "Accounts")</li>
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.Entries, "Index", "Entries")</li>
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.Schedule, "ScheduleIndex", "Schedule")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">@FinancialControl.App_GlobalResources.st.Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.ExpensesCategory, "ExpensesPerCat", "Charts")</li>
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.MonthyExpenses, "ExpensesReport", "Report")</li>
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.MontlyChart, "ExpensesPerMonth", "Charts")</li>
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.Netting, "Netting", "Report")</li>
                            <li>@Html.ActionLink(FinancialControl.App_GlobalResources.st.InstallmentReport, "Installments", "Report")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
